<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="centrar">
    <ion-card>
        <!-- [formGroup]="formGroup" (ngSubmit)=""onSubmit(form) -->
        <form [formGroup]="formGroup" (ngSubmit)="registro()">
            <ion-grid>
                <ion-row color="primary">
                    <ion-col class="centrar">
                        <div>
                            <h3>Crea tu cuenta</h3>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="stacked" name='name'>Nombre de usuario</ion-label>
                                <ion-input name="name" type="name" placeholder="Nombre de usuario" [formControl]="formGroup.controls['name']"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked" name='email'>Correo Electrónico</ion-label>
                                <ion-input name="email" type="email" placeholder="Correo Electrónico" [formControl]="formGroup.controls['email']"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label name='password' position="stacked">Contraseña</ion-label>
                                <ion-input name="password" type="password" placeholder="Contraseña" [formControl]="formGroup.controls['password']">

                                </ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label name='password' position="stacked">Repetir Contraseña</ion-label>
                                <ion-input name="confirm" type="password" placeholder="Repita la contraseña" [formControl]="formGroup.controls['repeat_password']"></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-button size="large" type="submit" [disabled]="formGroup.invalid" expand="block">Registrar</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ion-card>

    <div class="texto">
        <p><a routerLink="/login">Si ya tienes una cuenta puedes iniciar sesión </a></p>
        <p><a routerLink="/recuperar-contrasenia">Olvidaste tu contraseña</a></p>
    </div>


</ion-content>