<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Version</ion-title>
    </ion-toolbar>
</ion-header>

<ion-card>
    vesion app 0.
</ion-card>
<ion-content>
    <ion-fab vertical='bottom' horizontal='left' slot="fixed">
        <ion-fab-button (click)="servBac.backApp()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>