<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ubicación de la junta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <google-map height="100%" width="100%" [center]="center">
        <map-marker [position]="marcador" [title]="PruebaNombre">
        </map-marker>
    </google-map>
    <ion-fab vertical='bottom' horizontal='left' slot="fixed">
        <ion-fab-button (click)="button.backApp()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical='bottom' horizontal='center' slot="fixed">
        <ion-fab-button (click)="runMap()">
            <ion-icon name="paper-plane"></ion-icon>
        </ion-fab-button>
        <ion-label style="color: black;">
            <h1><b>Iniciar Ruta</b></h1>
        </ion-label>
    </ion-fab>
</ion-content>