<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Búsqueda de Juntas de Agua</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <!-- -->
        <div class="box">
            <!-- <ion-item>
            </ion-item> -->
            <!-- <ion-label>
                <h1>Ingresa el nombre de una junta</h1>
            </ion-label> -->
            <ion-searchbar type="search" id="search" [(ngModel)]="filterWater" placeholder="Ingrese el nombre de la junta " name="filterWater"></ion-searchbar>
            <!-- <ion-input type="search" id="search" class="form-control" name="filterWater" placeholder="Ingrese el nombre de la junta " [(ngModel)]="filterWater"/>                 -->
            <!-- <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" [(ngModel)]="filterWater" placeholder="Ingrese el nombre de la junta " name="filterWater" />
            </div> -->
        </div>

        <div class="box">
            <ion-list>
                <!-- <ion-list-header>
                    </ion-list-header> -->
                <ion-label>
                    Selecciona una provincia
                </ion-label>

                <ion-item>
                    <ion-label>Provincia</ion-label>
                    <ion-select value="seleccionadoProv" [(ngModel)]="seleccionadoProv" name="seleccionadoProv" interface="popover" placeholder="Selecione una provincia">
                        <ion-select-option value="">Ninguna</ion-select-option>
                        <ion-select-option value="Esmeraldas">Esmeraldas</ion-select-option>
                        <ion-select-option value="Manabí">Manabí</ion-select-option>
                        <ion-select-option value="Los Ríos">Los Ríos</ion-select-option>
                        <ion-select-option value="Santa Elena">Santa Elena</ion-select-option>
                        <ion-select-option value="Guayas">Guayas</ion-select-option>
                        <ion-select-option value="Santo Domingo de los Tsáchilas">Santo Domingo de los Tsáchilas</ion-select-option>
                        <ion-select-option value="El Oro">El Oro</ion-select-option>
                        <ion-select-option value="Azuay">Azuay</ion-select-option>
                        <ion-select-option value="Bolívar">Bolívar</ion-select-option>
                        <ion-select-option value="Cañar">Cañar</ion-select-option>
                        <ion-select-option value="Carchi">Carchi</ion-select-option>
                        <ion-select-option value="Cotopaxi">Cotopaxi</ion-select-option>
                        <ion-select-option value="Chimborazo">Chimborazo</ion-select-option>
                        <ion-select-option value="Imbabura">Imbabura</ion-select-option>
                        <ion-select-option value="Loja">Loja</ion-select-option>
                        <ion-select-option value="Pichincha">Pichincha</ion-select-option>
                        <ion-select-option value="Tungurahua">Tungurahua</ion-select-option>
                        <ion-select-option value="Morona Santiago">Morona Santiago</ion-select-option>
                        <ion-select-option value="Napo">Napo</ion-select-option>
                        <ion-select-option value="Orellana">Orellana</ion-select-option>
                        <ion-select-option value="Pastaza">Pastaza</ion-select-option>
                        <ion-select-option value="Sucumbíos">Sucumbíos</ion-select-option>
                        <ion-select-option value="Zamora Chinchipe">Zamora Chinchipe</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </div>


        <!--  *ngIf='filterWater.length >=3'-->


    </ion-card>

    <ion-card>
        <div *ngIf='filterWater.length >=3  || seleccionadoProv !="" '>

            <ion-item-sliding *ngFor="let junta of juntas1 | filtroCoincident:filterWater | filtroProv:seleccionadoProv">
                <!-- <ion-item-sliding *ngFor="let junta of juntas1 | filtroCoincident:filterWater"> -->

                <ion-item (click)="viewInforWater(junta.uid)" style="border-bottom: groove; text-align: center;">
                    <!-- style="text-align: center;" -->
                    <div>

                        <ion-avatar slot="start">
                            <img [src]=junta.fotos_paths[0]>
                        </ion-avatar>
                        <ion-label>
                            <h2>{{junta.nombre}}</h2>
                        </ion-label>
                    </div>
                </ion-item>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item-sliding>
        </div>
    </ion-card>

    <!-- <ion-button (click)="verTipo()" size="large" type="submit" expand="block">Editar junta</ion-button>
    <ion-button (click)="verTipo()" size="large" type="danger" expand="block">Eliminar junta</ion-button> -->

</ion-content>