<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Fotografias de juntas</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
                    <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="llamarFoto()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical='bottom' horizontal='left' slot="fixed">
        <ion-fab-button (click)="gotoBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>







</ion-content>