<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Confirmación</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content *ngIf="user$ | async as user">
    <ion-card>
        <div class="box">
            <h2>Gracias por registrase!</h2>
            <p>Enviamos un correo de confirmacion a la cuenta </p>
            <p><strong>{{user.email}}</strong></p>
            <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()">Reenviar confirmación</ion-button>
            <ion-button type="submit" color="primary" expand="block" (click)="redirectLogin()">Iniciar sesion</ion-button>
        </div>
    </ion-card>
</ion-content>