<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Desarrolladores</ion-title>
    </ion-toolbar>
</ion-header>




<ion-content>

    <ion-card>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card class="cabeza">
                        <h2 class="centrar1">Grupo de trabajo</h2>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card class="centrar">
                        <img class="pequenia" src="../../../assets/pedro.jpg" alt="">
                        <p class="resalte">Pedro Xavier Illaisaca Tenecota</p>
                        <p class="paragraph">Desarrollo BackEnd y FrontEnd</p>
                        <p><a href="mailto:pillaisaca@est.ups.edu.ec">pillaisaca@est.ups.edu.ec</a></p>
                        <p><a href="mailto:pillaisaca@est.ups.edu.ec">pedroillaisaca010@gmail.com</a></p>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card class="centrar">
                        <img class="pequenia" src="../../../assets/barrrera.png" alt="">
                        <p class="resalte">Bryam Javier Barrera Chungata</p>
                        <p class="paragraph">Desarrollo BackEnd y FrontEnd</p>
                        <p><a href="mailto:bbarrerac1@est.ups.edu.ec">bbarrerac1@est.ups.edu.ec</a></p>
                        <p><a href="mailto:bryanbarrera46@gmail.com">bryanbarrera46@gmail.com</a></p>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card class="cabeza">
                        <h2 class="centrar1">Versión 0.1</h2>
                    </ion-card>
                </ion-col>
            </ion-row>


        </ion-grid>
    </ion-card>

</ion-content>