<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Editar junta de Agua</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <form #form="ngForm" (ngSubmit)="regWaterBoard(form)">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                    <ion-col>
                        <div class="centrar">
                            <h3>Actualize los datos de la junta</h3>
                        </div>
                        <div padding>
                            <ion-item>
                                <ion-label>Nombre de la junta de Agua</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-input name="name" type="name" placeholder="Ingrese el nombre de la junta" [(ngModel)]='waterboard.nombre' required>
                                    <ion-text color="danger">*</ion-text>
                                </ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label>Monitoreo</ion-label>
                                <ion-select [(ngModel)]="waterboard.tipoMonitoreo" name="tipoMonitoreo" interface="popover" placeholder="Seleccione un tipo de monitoreo" required>
                                    <ion-select-option value="Manual">Manual</ion-select-option>
                                    <ion-select-option value="Automático">Automático</ion-select-option>
                                    <ion-select-option value="Ninguno">Ninguno</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Responzables
                                </ion-label>
                            </ion-item>
                            <form [formGroup]="studentForm" #form="ngForm">
                                <ion-grid formArrayName="infoStudent" *ngFor="let student of getStudentInfo().controls ; let i=index ">
                                    <ion-row>
                                        <ion-col>
                                            <ion-item [formGroupName]='i'>
                                                <ion-input ngDefaultControl formControlName="nombreresponzable" placeholder='Escriba aqui el nombre los responsables' required='true'></ion-input>
                                            </ion-item>
                                        </ion-col>
                                        <ion-icon class="mat-icon" name='trash-outline' (click)='removeStudent(i)'></ion-icon>
                                    </ion-row>
                                </ion-grid>
                            </form>
                            <ion-item>
                                <ion-label class="centrar">
                                    <ion-button (click)="addStudent()" required>Agregar responsable </ion-button>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label *ngIf="estadoW; else otro">Estado de la Junta: <b>Activo</b></ion-label>
                                <ng-template #otro>
                                    <ion-label>
                                        Estado de la Junta: <b>Inactivo</b>
                                    </ion-label>
                                </ng-template>
                                <ion-toggle [(ngModel)]="estadoW" name="importante" (ionChange)="change($event)">
                                </ion-toggle>
                            </ion-item>

                            <!-- <ion-button (click)="submit()">Add</ion-button> -->
                            <ion-item (click)="addDirection()">
                                <ion-label class="normal">
                                    Ubicación:
                                </ion-label>
                                <ion-input name='ubicaciones' disabled="false" required>
                                    <a *ngIf="waterboard.ubicacion != undefined"> {{waterboard.ubicacion.lat}},{{waterboard.ubicacion.lng}}</a>
                                </ion-input>
                                <ion-buttons slot="end">
                                    <ion-button>
                                        <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                            </ion-item>
                            <ion-item>
                                <ion-label class="centrar">
                                    <ion-button (click)="addPhotos()">Agregar Fotos de la junta </ion-button>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <!-- PILAS PARA LAS INDICACIONES -->
                                <ion-label>Observaciones</ion-label>
                                <!-- <ion-label class="normal">Comentario</ion-label> -->
                                <!-- disabled readonly   [(ngModel)]="waterboard.comentario"-->
                                <ion-input name="comentario" [(ngModel)]="waterboard.comentario" placeholder="En este apartado puede poner detalles acerca de la junta de agua"></ion-input>
                            </ion-item>
                        </div>
                        <div padding>
                            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Actualizar Junta</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ion-card>
</ion-content>