<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Nosotros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <img class="grande" src="../../../assets/nosotros.jpeg" alt="">
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>

                    <ion-card class="centrar">
                        <div>
                            <p>Aplicativo realizado en conjunto con Cloud Computing Smart Cities & High Performance Computing grupo de Investigación de la Universidad Politécnica Salesiana.</p>
                            <p>Enfocado principalmente en el registro de juntas de agua potable en el territorio ecuatoriano y alineado con el proyecto de Investigación “Sistema de telemonitoreo automático del nivel de cloro presente en el agua potabilizada
                                en plantas de tratamiento pertenecientes a pequeñas comunidades rurales ubicadas en el territorio ecuatoriano” que dirige el Ing. Marcelo Flores.</p>
                        </div>
                    </ion-card>

                </ion-col>


            </ion-row>

        </ion-grid>

    </ion-card>
</ion-content>